  <div class="login-container">
  <div class="login-card">
    <h2 class="login-title">Login</h2>
    
    <div class="input-box">
      <i class="fa-solid fa-envelope"></i>
      <input class="login-input" type="email" placeholder="Email" [(ngModel)]="email" />
    </div>
    
    <div class="input-box">
      <i class="fa-solid fa-lock"></i>
      <input class="login-input" type="password" placeholder="Password" [(ngModel)]="password" />
    </div>
    
    <div class="remember-me">
      <label> <input type="checkbox" /> Remember me </label>
      
      <a routerLink="/forgot-password" class="forgot"> <i class="fa-solid fa-key"></i> Forgot password? </a>
    </div>
    
    <button (click)="login()" class="login-btn">
      Login
    </button>
    
    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
    
    <p class="register">
      Don't have an account?
      <a routerLink="/register"> <i class="fa-solid fa-user-plus"></i> Register </a>
    </p>
  </div>
</div>