* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/test2.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
  
.forgot-card {
  background: rgba(64, 64, 64, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 20px;
  backdrop-filter: blur(25px);
  text-align: center;
  color: white;
  width: 400px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  left: 85px;
  z-index: 1;
}

.forgot-title {
  font-size: 40px;
  margin-bottom: 40px;
  color: #000;
}

.forgot-title + p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 25px;
  line-height: 1.4;
  text-align: center;
}

.forgot-card p:hover {
  color: rgba(0, 0, 0, 0.7);
}

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.forgot-input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border-radius: 99px;
  border: none;
  outline: 3px solid transparent;
  transition: 0.3s;
  font-size: 17px;
  font-weight: 600;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
}

.forgot-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}

.forgot-input:focus {
  outline: 3px solid rgba(255, 255, 255, 0.8);
}

.forgot-btn {
  width: 100%;
  padding: 10px 0;
  background: #a368de;
  border: none;
  border-radius: 99px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.forgot-btn:hover {
  background: #d991f5;
}

.success {
  margin-top: 15px;
  color: #4caf50;
  font-size: 14px;
  font-weight: 500;
}

.error {
  margin-top: 15px;
  color: #ff4d4d;
  font-size: 14px;
  font-weight: 500;
}

.back-link {
  display: inline-block;
  margin-top: 18px; /* да не се бие с бутона */
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.back-link:hover {
  color: #5881e0;
  text-decoration: underline;
}